<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div style="text-align:center">
        <h1>Welcome to {{ firstName }} {{ lastName }}'s CV!</h1>
        <h3>I'm in the AppComponent</h3>
      </div>
      <hr>
      <app-server></app-server>
      <app-servers></app-servers> Contains 2 instances of AppServer Component
      <!-- <div app-servers></div>
      <div class="app-servers"></div> -->
      <app-successalert></app-successalert>
      <app-warningalert></app-warningalert>
      <app-user-list></app-user-list>
    </div>
  </div>
</div>