<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}'s CV!!!!!
  </h1>
  <h4>Phone Number: {{ contactPhoneNumber }}</h4>
  <h4> Email: {{ contactEmail }}</h4>
  <h6>Gallup StrengthFinders: Restorative | Harmony | Includer | Significance | Focus</h6>
  <img width="300" alt="Boris Chen Picture" src="../images/DSC_0517.jpg">
</div>
<h2>Objective</h2>
<p>Highly driven, passionate Web Developer professional currently attending full-stack Java Developer Bootcamp slated to
  be completed May 2019. Currently using latest full-stack development technologies which includes: HTML 5, JavaScript,
  CSS 3, AngularJS, jQuery, Java 8, Hibernate, Spring Framework, JUnit, Git and GitHub, and MySQL. Consistently received
  outstanding 5-star reviews from all web design projects, including 12% membership sign-ups increase for GCMBA site.
</p>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="#workexperience">Work Experience</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#education">Education</a></h2>
  </li>
</ul>
<app-workexperience></app-workexperience>
<app-education></app-education>
<router-outlet></router-outlet>